a{ text-decoration: none;}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 1);
}

.login-link{
    margin-left: 30px;
    font-weight: bold;
    color: #f30e0e !important;
}

.main-nav{
    padding: 10px 0;
    background-color: #5483aa4f;
}
.container{
    max-width: 1200px;
    margin: auto;
}

.nav-pills .active{
    background-color: #47c9e5 !important;
    color: #fff!important;
}

.items-orientation{
    right: 0%;
}

.navbar-collapse {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -ms-flex-positive: 1;
    flex-grow: 0;
    -ms-flex-align: center;
    align-items: center;
}
